.task-input {
  color: #262626;
  font-size: 1.5rem;
}
::placeholder {
  color: #262626;
}
.btn-add {
  font-size: 500%;
  padding: 0.5rem 1.5rem;
  border: 0.8px solid rgba(248, 248, 255, 0.4);
}
.task-container button{
  min-width: 15%;
}